<h1>Welcome Padawans!</h1>
<h2>Please login to access your training records.</h2>
<button>
    <%= link_to "Login", login_path %>
</button>
<h3>New here?  Please sign up to start your training.</h3>
<button>
    <%= link_to "Signup", signup_path %>
</button>