<h1>Sign Up, you must ... to start your training ... </h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :username, label: 'Your username please', error: 'Mandatory, a username is. Please focus, and tell me your name.' %>
  <br>
   <br>
  <%= f.input :password, label: 'Your thoughts, you must protect.  Password, you must create', error: 'A password, you must create.  Do not leave your mind open to the dark side.' %>
  <br>
   <br>
  <%= f.button :submit %>
<% end %>